<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Carbon Footprint Calculator App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body"  data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand" href="#">Carbon Footprint Calculator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vehicle">Vehicle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/credits">Credits/References for Data</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br/>
      <div class="container">
        <h3>About</h3>
        <h5>The App</h5>
        <p>Carbon Footprint Calculator app is built by Sem I G.U CSE students of Sec 48 as EIA project
            This app is build with python flask and html.
            It's goal is to help people calculate their primary carbon emissions.
        </p>
        <h5>The Team</h5>
        <p>Our Team consists of 7 members</p>
        <ul>
            <li>Shashwat Shagun</li>
            <li>Vishal Kumar Sharma</li>
            <li>Deepak Sharma</li>
            <li>Sarvesh Pratap Yadav</li>
            <li>Shivam Kaushik</li>
            <li>Vikram Kumar</li>
            <li>Sudhanshu Ranjan</li>
        </ul>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>